
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Work</title>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layuiadmin/layui/layui.js"></script>
</head>
<body>


    <table class="layui-hide" id="test" lay-filter="test"></table>

    <script type="text/html" id="toolbarDemo">
        <div class="layui-form-item">
            <label class="layui-form-label">日期</label>
            <div class="layui-input-inline">
                <input type="datetime" name="name" class="layui-input" value="@System.DateTime.Now" />
            </div>
            <div class="layui-form-mid layui-word-aux">
                <input type="file" id="file" value="" style="display:none;" onchange="selectFile(this);" />
            </div>
            <div class="layui-input-inline">
                <input type="button" class="layui-btn layui-btn-danger" name="name" lay-event="upload" value="上传每天工作进度" />
            </div>
            <div class="layui-input-inline">
                <a class="layui-btn layui-btn-warm">下载工作统计</a>
            </div>
        </div>
    </script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/http.request.js"></script>
    <script>
        layui.use(['table', 'form'], function () {
            var table = layui.table;
            var form = layui.form;

            table.render({
                elem: '#test'
                , url: '/layuiadmin/data/doctor.json'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: []
                , page: true
                , cols: [[
                    { type: 'checkbox' }
                    , { field: 'username', width: 80, title: '姓名' }
                    , { field: 'sex', width: 80, title: '性别' }
                    , { field: 'city', width: 80, title: '年龄' }
                    , { field: 'sign', title: '手机号', } //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    , { field: 'experience', title: '诊断次数' }
                    , { field: 'score', title: '诊断总金额' }
                    , { fixed: 'right', title: '操作', toolbar: '#barDemo' }
                ]]
            });

            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'upload':
                        $('#file').click();
                        break;
                };
            });
        });
        function selectFile(obj) {
            var file = obj.files[0];
            var data = new FormData();
            data.append("file", file);
            console.log(data);
            postFile('http://localhost:60834/work/upload', data, function (res) {
                console.log(res);
            });
        }
    </script>
</body>
</html>
