
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layuiadmin/layui/layui.js"></script>
</head>
<body>
    <table class="layui-hide" id="test" lay-filter="test"></table>
    <!--头部按钮-->
    <script type="text/html" id="toolbarDemo">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <select name="quiz1">
                    <option value="">请选择省</option>
                    <option value="浙江" selected="">浙江省</option>
                    <option value="你的工号">江西省</option>
                    <option value="你最喜欢的老师">福建省</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="quiz2">
                    <option value="">请选择市</option>
                    <option value="杭州">杭州</option>
                    <option value="宁波" disabled="">宁波</option>
                    <option value="温州">温州</option>
                    <option value="温州">台州</option>
                    <option value="温州">绍兴</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select name="quiz3">
                    <option value="">请选择县/区</option>
                    <option value="西湖区">西湖区</option>
                    <option value="余杭区">余杭区</option>
                    <option value="拱墅区">临安市</option>
                </select>
            </div>
            <button class="layui-btn layui-btn-warm" lay-event="isSearch">查询</button>
        </div>
    </script>

    <!--行工具栏-->
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="detail">科室信息</a>
    </script>

    <script>
        layui.use(['table','form'], function () {
            var table = layui.table;
            var form = layui.form;

            table.render({
                elem: '#test'
                , url: '/layuiadmin/data/doctor.json'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                , defaultToolbar: []
                , page: true
                , cols: [[
                    { type: 'checkbox' }
                    , { field: 'username', title: '医院名称' }
                    , { field: 'sex', width: 100, title: '所在城市' }
                    , { field: 'city', width: 100, title: '医师数量' }
                    , { field: 'sign', width: 100,title: '诊断次数',} 
                    , { field: 'experience', width: 100, title: '评价率' }
                    , {  title: '操作', width: 100,toolbar: '#barDemo'}
                ]]
            });

            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'isSearch':
                        layer.msg(checkStatus.isAll ? '全选' : '未全选');
                        break;
                };
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'detail') {
                    var level_index = layer.open({
                        type: 2,
                        title: '科室明细',
                        maxmin: true,
                        offset: '100px',
                        area: ['700px', '610px'],
                        content: '/hospital/department'
                    });
                    layer.full(level_index);
                }
            });
        });
    </script>
</body>
</html>
